@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot'); /* IE9 Compat Modes */
  src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/icomoon/icomoon.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/icomoon/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/icomoon/icomoon.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'opensans';
  font-weight: 400;
  src: url('../fonts/opensans-regular/opensans-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans-regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans-regular/opensans-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans-regular/opensans-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans-regular/opensans-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'opensans';
  font-weight: 700;
  src: url('../fonts/opensans-bold/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans-bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans-bold/OpenSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans-bold/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans-bold/OpenSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'opensans';
  font-weight: 600;
  src: url('../fonts/opensans-semibold/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans-semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans-semibold/OpenSans-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans-semibold/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans-semibold/OpenSans-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'opensans-light';
  src: url('../fonts/opensans-light/opensans-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans-light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans-light/opensans-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans-light/opensans-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans-light/opensans-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'chaparral-regular';
  src: url('../fonts/chaparral-pro/chaparralpro-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/chaparral-pro/chaparralpro-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/chaparral-pro/chaparralpro-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/chaparral-pro/chaparralpro-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/chaparral-pro/chaparralpro-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'amatic-sc';
  font-weight: 400;
  src: url('../fonts/amatic-sc/400.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/amatic-sc/400.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'amatic-sc';
  font-weight: 700;
  src: url('../fonts/amatic-sc/700.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/amatic-sc/700.ttf')  format('truetype'), /* Safari, Android, iOS */
}