.sponsor_banner{
    text-align: center;

    &__text{
        display: inline-block;
        margin: 15px auto;
        border-bottom: 3px solid $color_coral;
    }

    &__logo{
        height: 50px;
    }
}
